.dashboard {
  .navbar-brand {
    cursor: pointer;
  }
  .navbar {
    background-color: #ffffff;
    box-shadow: 8px 10px 7px -5px #b0b0b0;


    img {
      width: 80px;
      height: 50px;
      margin-left: 50px;
      margin-top: 0px;
    }
    .nav-item {
      color: white;
      margin-left: 50px;
      cursor: pointer;
    }

    .cartItems {
      color: red;
      margin-left: 2px;
      margin-top: -8px;
    }
    .welcomeUser {
      margin-left: auto;
    }
    .profile-badge{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: white;
  background-color: #91ccff;
  font-size: 16px;
  margin-right: 32px;
    }
  }
}
