@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.dashboard {
  background-color: #ededed;
.dashboard-loader{
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
  .productItemDiv {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px 0px 50px;
   background-color: #ededed;
   height: fit-content;
  }
  .select-category{
    width: 220px;
    margin-left: auto;
    padding-top: 16px;
    margin-right: 48px;
  }
  .productItemCard {
    cursor: pointer;
    flex-basis: 204px;
    margin: 10px;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 
    &:hover{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    }
  }

  img {
    margin-top: 15px;
    width: 180px;
    height: 180px;
  }
  .card-text {
    color: black;
  }
}
